<div *ngIf="dataSource && dataSource.length">

  <div class="search"><span>Search: </span><input [formControl]="searchPhrase"></div>

  <app-pagination [itemsCount]="dataSource.length"></app-pagination>

  <table>
    <tr>
      <th *ngFor="let column of dataColumns" (click)="sort(column)"
          [ngClass]="{sorted: column == sorted, desc: column == sorted && order}">
        {{column}}
      </th>
    </tr>
    <tr
      *ngFor="let item of searchDataSource | slice:(pagination.params.from - 1):pagination.params.to">
      <td *ngFor="let column of dataColumns">
        <span [innerHTML]="item[column]"></span>
      </td>
    </tr>
  </table>
</div>
