<div *ngIf="dataSource">

  <app-pagination
    [itemsCount]="dataSource.length" [itemsPerPage]="itemsPerPage"
    (itemsPerPageChanged)="itemsPerPageChanged($event)"></app-pagination>

  <table>
    <tr>
      <th *ngFor="let column of dataColumns" (click)="sort(column)"
          [ngClass]="{sorted: column == sorted, desc: column == sorted && !order}">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let item of dataSource | slice:0:itemsPerPage">
      <td *ngFor="let column of dataColumns">
        {{item[column]}}
      </td>
    </tr>
  </table>
</div>
