<div *ngIf="dataSource && dataSource.length">

  <app-pagination [itemsCount]="dataSource.length"></app-pagination>

  <table>
    <tr>
      <th *ngFor="let column of dataColumns" (click)="sort(column)"
          [ngClass]="{sorted: column == sorted, desc: column == sorted && order}">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let item of dataSource | slice:(pagination.params.from - 1):pagination.params.to">
      <td *ngFor="let column of dataColumns">
        {{item[column]}}
      </td>
    </tr>
  </table>
</div>
