<!--
<div>
  <input placeholder="Insert link to json">
  <button>Get data</button>
</div>


<div>
  <span>Show </span>
  <select>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="25">25</option>
  </select>
  <span> entries per page</span>
</div>


<div>
  <span>Search:</span><input placeholder="Enter search phrase">
</div>
-->


<app-table-view></app-table-view>

<!--<div>
  <span>Showing</span> 1 <span>to</span> 5 <span>of</span> 57 <span>entries</span>
</div>

<div>
  Pagination
</div>-->
