.pager {
  display: flex;
  align-items: center;

  .items-per-page,
  .pagination-controls {
    margin: 10px 5px;
  }

  .pagination-info {
    margin: 0 5px 0 auto;
  }
}

.pagination-controls {
  .dots {
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
  }

  .page {
    cursor: pointer;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    color: black;

    &:not(.disabled):hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &.disabled {
      color: rgba(0, 0, 0, 0.1);
    }
  }
}

.mr-5 {
  margin-right: 5px;
}
